:root{
--txcol: #00e89d;
--bckcol: #333;
--bckbx: rgb(27, 27, 27);
}

body {
font-family:monospace;
color: var(--txcol);
padding-left: 5vw;
padding-right: 5vw;
background-color: rgb(27, 27, 27);
font-size: x-large;}

.module {
border: 2px solid var(--txcol);
background-color: var(--bckbx);
width: 800px;
padding: 1vh;
margin: 2vh auto 2vh auto;
/*border-radius: 8px;*/
display: inline-block;
vertical-align: top; }

.module h3 { margin-top: 0; }

button {
    border: 2px solid var(--txcol);
    background-color: var(--bckbx);
    color: var(--txcol);
}
button:active{
    background-color: var(--txcol);
    color: var(--bckbx);
}

button:hover{
    background-color: var(--bckcol);
}
input{
    background-color: var(--bckcol);
    color: #00e89d;
    font-weight: lighter;
    font-size: 2vh;
}

.display { margin-top: 5px;
font-weight: bold; }

.global-controls { 
margin: 3vh auto 3vh auto;
padding: 1vh;
border: 2px solid var(--txcol);
}

.global-controls button{
    width: 30vw;
    height: 5vh;
    font-size: 2vh;
    padding: 1vw 1vh 1vw 1vh;
    margin: 0.5vh;

}

.global-controls input{
    width: 35vw;
    height: auto;
}






#title{
  width: 100%;
  overflow-x: auto;     /* scroll if it overflows horizontally */
  text-align: center; 
}
#art{
  font-family: monospace;
  font-size: clamp(8px, 2vw, 20px); /* responsive font size */
  line-height: 1.2;
  white-space: pre;     /* preserve spacing */
  margin: 0 auto;
  display: inline-block
}
#motion{
    margin: auto;
    text-align: center;

}

.m{
    margin: 2vw;
    font-size: 3vh;
    padding: 1vw 1vh 1vw 1vh;
}

.mval{
    margin: auto;
    text-align: center;
}





#info{ 
border: 2px solid var(--txcol);
display: block;
margin: 2vh auto 2vh auto;
/*width: 90vw;*/
padding: 1vh;
/* border-radius: 8px; */

}

